b,
input,
a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-but {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.login-form-container {
  padding-bottom:5rem;
  width: 30rem;
  height: fit-content;
  font-weight: 400;
  background-color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.login-form b {
  width: 203px;
  font-size: 22px;
  float: left;
  font-weight: inherit;
 
}
.login-form img {
  border-radius: 10px;
}


button {
  cursor: pointer;
}

.forgot-link {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: block;
  font-size: medium;
  color: #0a2145;
  text-decoration: underline;
}