@import url("https://fonts.googleapis.com/css2?family=Coustard&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

.App {
  color: #0a2145;
  text-align: center;
  font-family: "Coustard", serif;
  display: flex;
  flex-direction: column;
}

.Title {
  font-family: "Bungee Shade", cursive;
  font-size: 60px;
  color: rgb(36, 35, 35);
  
 
}
.map-wrapper{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.mappic {
  border-radius: 50%;
  border: 3px solid #0a2145;
  box-shadow: 2px;
  margin-bottom: 30px;
}


/* buttons */

.selectedEvent_addComment button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  box-shadow: 0 2px 10px #0a2145;
}

.logout button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  box-shadow: 0 2px 10px #0a2145;
}


.create button, .signupbar {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  box-shadow: 0 2px 10px #0a2145;
}

.loginbutton{
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  box-shadow: 0 2px 10px #0a2145;
}

.selectedEvent_addComments button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.userdetails button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.eventcard button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.selectedevent button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.home button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.login-form-container button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  margin-bottom: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.signup-form-container button {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  box-shadow: 0 2px 10px #0a2145;
  
}

.logoutbutton, .logouttext {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* booked event */

.paypalimage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

}
/* event card */
.eventcard {

  box-sizing: border-box;
  border: 2px solid #0a2145;;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.eventcard-text{
  margin: 8px;
  
}

/* create event */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

create h2 {
  font-size: 20px;
  color: #0a2145;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.selectedEvent_addComment textarea,
.create select,
.filters select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* events list */

.eventslist {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}


/* account */

.bookedevents {
  background: #0a2145;
  color: #ffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Coustard";
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}

.account {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

}

.login-form-container h3{
  padding-top:0;
  padding-bottom: 1rem;
  margin-top: 0;

}

.account label {
  text-align: center;
  display: block;
}

.account {
  font-size: 20px;
  color: #0a2145;
  margin-bottom: 30px;
}

.account input,
.account textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.sportpic {
  padding-top:0;
  margin-top: 0;
  margin-bottom: 0;
  width:50%;
  height: 50%;
  border-radius: 50%;
 
}

/* login form */

.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-form-container label {
  text-align: center;
  display: block;
}

.login-form-container {
  font-size: 20px;
  color: #0a2145;
  margin-bottom: 30px;
}

.login-form-container input,
.login-form-container textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* log out */

.logout {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* sign up form */

.signup-form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.signup-form-container label {
  text-align: center;
  display: block;
}

.signup-form-container {
  font-size: 20px;
  color: #0a2145;
  margin-bottom: 30px;
}

.signup-form-container input,
.signup-form-container textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.existingusertext {
  margin-top: 3rem;
  font-size: 16px
}

/* user image */

.userimage{
  height: 50px;
  border-radius: 50%;
}

.eventorganiser{
  height: 100px;
  border-radius: 100px;
  ;
}

.guestuserimage {
  height: 50px;
  border-radius: 50%;
  background-color: white;
 
}


/* user details */

.userdetails {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.userdetails label {
  text-align: left;
  display: block;
}

.userdetails h2 {
  font-size: 20px;
  color: #0a2145;
  margin-bottom: 30px;
}

.userdetails input,
.userdetails textarea,
.userdetails select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* selected event*/

.selectedEvent_eventOrganiser {
  height: 30px;
  border-radius: 50%;
}

.organisertext{
  font-family: "Coustard", cursive;
  font-size: 3rem;
  color: #0a2145;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2rem;
  border-radius: 10%;
  padding: none;

  box-sizing: border-box;
  border: 2px solid #0a2145;;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  overflow:hidden;
  box-shadow: 0 2px 10px #0a2145;
}
