* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    background-color:#0a2145;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: 0 2px 10px #0a2145;
    width: 100%, 
}

.homelink {
    font-size: 2rem;
    font-family: "Coustard";

}

.navbar ul {
    font-family: "Coustard";
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin: 0;
    margin-right: 0.5rem;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navbar li.active {
background-color: #0a2145;
border-radius: 8px;

}

.navbar li:hover {
   
    background-color: rgb(68, 75, 163);
    border-radius: 8px;
  
}

.display{
    display: flex;
    justify-content: space-between;
}